table {
  border-collapse: inherit;
}
.thead-light {
  background-color: rgb(34, 27, 27);
  font-weight: 400;
}
.thead-light th {
  font-weight: 700;
}

table tbody tr td {
  cursor: pointer;
}

table tbody tr.active td {
  background-color: rgb(170, 215, 255);
}
.product-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 0;
  margin: 20px 10px 20px 0;
}
