<div class="container-fluid main-content">
  <div class="row">
    <section [ngClass]="showAddProduct? 'col-md-7': '' ">
      <div class="product-header">
        <h3>Product List</h3>
        <button *ngIf="!showAddProduct" type="button" class="btn btn-outline-primary" (click)="showAddProducts()">Add Products</button>
        <button *ngIf="showAddProduct" type="button" class="btn btn-outline-primary" (click)="hideAddProducts()">Close</button>
      </div>
      <table class="table">
        <thead class="thead-light t-head">
          <tr>
            <th scope="col">Product Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Description</th>
            <th scope="col">Created Date</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Quantity in Kgs</th>
            <th scope="col">Availability</th>
            <th scope="col">Product Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products; let i=index" (click)="selectProduct(i)" [ngClass]="rowIndex == i? 'active':''">
            <th scope="row">{{product.productId}}</th>
            <td>{{product.productName}}</td>
            <td>{{product.productDescription | contentLimiter}}</td>
            <td>{{product.createdDate | date | uppercase}}</td> <!-- date pipe (date:"yyyy MM dd")-->
            <td>{{product.unitPrice | currency:"Rs."}}</td> <!-- currency pipe -->
            <td>{{product.quantity}}</td>
            <td>
              <!-- The [ngClass] directive expects an object where keys represent the CSS
              classes and values are expressions evaluating to true or false. In your case,
              you want to apply the bg-danger class if the quantity is less than or equal to 50. -->
              <!-- <span [ngClass]="{'bg-danger': product.quantity <= 50}" *ngIf="product.quantity <= 50">Lower Inventory Level</span> -->

              <span [ngClass] ="{'bg-danger': true }" *ngIf="product.quantity <= 50" >Lower Inventory Level </span>
              <span [ngClass] ="{'bg-warning': true }" *ngIf="product.quantity > 50 && product.quantity <= 200">Average Inventory Level</span>
              <span [ngClass] ="{'bg-success': true }" *ngIf="product.quantity > 200">Sufficient Inventory Level</span>
            </td>
            <td>
              <button [disabled]="rowIndex != i || !rowSelected" ><i class="fa fa-eye icon"></i></button>
              <button [disabled]="rowIndex != i || !rowSelected" ><i class="fa fa-pencil-square-o icon"></i></button>
              <!-- interpolation with data binding -->
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <section class="col-md-5" *ngIf="showAddProduct">
      <app-add-poduct></app-add-poduct>
    </section>
  </div>
</div>
